:root {
  /* colors */
  /* --color-text: #fff; */
  --color-text: rgb(26, 44, 57);
  --color-primary: #d3cfc1;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: rgba(0, 0, 0, 0);

  /* fonts */
  --font-roboto: "Roboto";
  --font-noto-sans-jp: "Noto Sans JP";
}
